@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #2f4f4f;
    background-color: #e1e1e1;

  }

  header {
    padding: 10px 0;
    margin-bottom: 12px;
  }

  .portifolio {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .portifolio-image {
    max-width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
  }

  .portifolio-caption {
    margin-top: 10px;
  }

  .portifolio-image img {
    max-width: 100%;
    width: 350px;
    height: 250px;
  }

  footer a {
    text-decoration: none;
    color: #2f4f4f;
  }

  